@font-face {
    font-family: 'Brachial';
    src: url('/fonts/Brachial-Bold.woff2') format('woff2'),
        url('/fonts/Brachial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

